html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}
#header {
    -webkit-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 10px;
    height: 60px;
    line-height: 45px;
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#menu {
    -webkit-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 10px;
    height: 60px;
    line-height: 45px;
    padding: 0 10px;
    font-size: 24px;
    text-align: center;
}


.w_button {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    height: 40px;
    line-height: 40px;
    
/*position: absolute;
height: 33px;
top: 6px;
left: auto;
right: 10px;
border-width: 1px;
border-style: solid;
overflow: hidden;
padding: 0 15px;
font-size: 14px;
font-weight: bold;
white-space: nowrap;
text-overflow: ellipsis;
text-align: center;
line-height: 40px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
font: -webkit-small-control;
-webkit-box-align: center;
-webkit-appearance: push-button;*/
}

.w_right {
    left: auto;
    right: 10px;
}

#main {
    padding: 10px;
}

#main .row {
    height: 70px;
    clear: both;
    margin-top: 5px;
    -webkit-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px;
    font-size: 20px;
}
#main .row-image {
    float: left;
    padding: 10px 0px 10px 10px;
    height: 44px;
    width: 49px;
}
#main .row-name {
    padding: 20px;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
}

#details {
    padding: 10px;
}

#details .row {
    height: 70px;
    clear: both;
    margin-top: 5px;
    -webkit-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px;
    font-size: 20px;
}
#details .row-image {
    float: left;
    padding: 10px 0px 10px 10px;
    height: 44px;
    width: 49px;
}
#details .row-name {
    padding: 8px 0 0 20px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
}
#details .row-number {
    padding: 0 0 0 20px;
    overflow: hidden;
    font-size: 11px;
}
#details .row-datetime {
    font-size: 12px;
    overflow: hidden;
    padding: 0 0 0 20px;
}
#details .row-datetime span {
    padding: 0 0 0 5px;
}

.wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}

.w_layout_box {
display: -webkit-box;
display: -moz-box;
width: 50%;
}

.w_layout_box_settings {
display: -webkit-box;
display: -moz-box;
width: 25%;
float: right;
}

.w_menu_item {
text-align: center;
width: 25%;
-webkit-box-flex: 0;
}

.w_menu_item_settings {
text-align: center;
width: 50%;
-webkit-box-flex: 0;
}

#header img {
    height:35px;
    width:35px;
    padding:10px;
}

#server-list {
    padding: 10px;
}

.server-row {
    clear: both;
    height: 70px;
    margin-top: 5px;
    -webkit-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px;
    font-size: 20px;
}

.server-name {
    float: left;
    font-size: 25px;
    padding: 20px 10px;
}

span.remove {
    float: right;
    height: 30px;
    margin: 20px 10px;
    width: 30px;
    -webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
}

#title {
    font-size: 20px;
    padding-top: 10px;
}

#header #title {
    width: 50%;
    float: left;
}

#description {
    font-size: 16px;
}


.w_radius {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

input.input-box {
    color: #336699;
    height: 60px;
    width: 90%;
    margin: 5px 0;
    padding: 5px;
    font-size: 14px;
}

#settingDescription {
    padding: 5px 0 5px 10px;
    height : 60px;
    margin-top: -10px;
    margin-bottom: 10px;
    -webkit-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.5);
}

.pp_popup 
{
    position: absolute;
    z-index: 999;   
    left: 1%;
    right:1%;
    top: 1%;
    height: auto;
    
    overflow: auto;
    
    padding: 0.4em;
}

.pp_popup .w_bloc
{
    font-size: 18px;
}

.pp_type_alert, .pp_type_confirm, .pp_type_alert .w_bloc, .pp_type_confirm .w_bloc
{
    font-weight: bold;
    text-align: center;
}

.pp_hidden 
{
    visibility: hidden;
}
            
.pp_popup .w_button 
{
    display: inline-block;
    width: 5.7em;
    margin: 0 0.69em;
    position: relative;
}


