body {
    background-color: #EEB422;
}

/*header & popup*/
.w_bg_dark {
    background-color: black;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CD8500), to(#8B5A00), color-stop(25%, #734A12));
    background-image: -moz-linear-gradient(top, #CD8500, #8B5A00, #734A12 50%);
    color: #FFEFD5;
}

/*settingsDecription & popup buttons & settings remove button (bg)*/
.w_bg_light {
background-color: #F8F8F8;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FEF0DB), to(#FFFAF0));
background-image: -moz-linear-gradient(top, #FEF0DB, #FFFAF0);
color: #2F2F2F;
}

.w_bg_light:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFAF0), to(#FEF0DB));
    background-image: -moz-linear-gradient(top, #FFFAF0, #FEF0DB);
}

#main .row {
    background-color: #FFEBCD;
    color: #000
}

#details .row {
    background-color: #FFEBCD;
    color: #000
}

#main .row, #details .row {
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#main .active, #details .row:active {
    background-color: #a1cdfb;
    margin: 5px;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.5);
}

.server-row {
    background-color: #DEB887;
    color: #999;
}

#server-list .active {
    background-color: #FFEBCD;
    color: #000;
}
