<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "../../../../utils/doc/wink_doc.dtd" >
<?xml-stylesheet type="text/xsl" href="../../../../utils/doc/wink_doc.xsl"?>
<module>
  <title>Menu</title>
  <name>wink.ui.xy.Menu</name>
  <is_graphical>1</is_graphical>
  <description>
  	Displays an iPhone-like popup menu. You have to define the 1 to 6 items.
  </description>
  <test_pages>
    <page>
      <description>A simple test that handles with a Menu composed of various type of menu item</description>
      <url>test_menu.html</url>
    </page>
  </test_pages>
  <compatibility>Iphone OS2, Iphone OS3, Iphone OS4, Android 1.1, Android 1.5, Android 2.1, Android 2.2, Android 2.3, BlackBerry 6, Bada 1.0</compatibility>
  <instanciation>
    <description>The Menu is a singleton, it needs to be instantiated only once. No parameter is needed.</description>
    <code_sample>
var menuProperties = {
	x: 20,
	y: 20
};
var menu = new wink.ui.xy.Menu(menuProperties);
wink.layer.zIndex = 50;
menu.getDomNode().style.zIndex = 51;
document.body.appendChild(menu.getDomNode());

menu.addItem({
	itemClass: 'item1',
	title: 'page1',
	callback: { context: window, method: 'selectItem1' }
});
menu.toggle();
    </code_sample>
  </instanciation>
  <components>
    <component>
      <name>wink.ui.xy.Menu</name>
      <description>The menu component</description>
      <public_methods>
        <method>
          <name>getDomNode</name>
          <description>Returns the component main dom node</description>
        </method>
        <method>
          <name>toggle</name>
          <description>Hides / Displays the menu</description>
        </method>
        <method>
          <name>addItem</name>
          <description>Adds an item to the menu</description>
          <parameters>
            <parameter>
              <name>item</name>
              <description>
                item object ( item: { itemClass, title, callback } ). An item is composed of : [itemClass] the class associated to the item that allows css adjustment, [title] the title of the item, [callback] the callback action that will be invoked when selecting the item
              </description>
              <type>object</type>
              <is_optional>0</is_optional>
            </parameter>
          </parameters>
        </method>
      </public_methods>
      <public_properties>
        <property>
          <name>uId</name>
          <description>The unique identifier of the component</description>
          <type>integer</type>
        </property>
      </public_properties>
    </component>
  </components>
  <styles>
    <classes>
      <class>
        <name>mn_menu</name>
        <description>The class of the main DOM node</description>
      </class>
      <class>
        <name>mn_menu_item</name>
        <description>The class associated to a menu item</description>
      </class>
    </classes>
  </styles>
</module>
